<footer>
    <small>&copy; {{ "now" | date: "%Y" }} <a href="https://michelmaillard.ch">Michel Maillard</a> • Built with <a href="https://www.11ty.dev/">Eleventy</a>, <a href="https://liquidjs.com/">LiquidJS</a> & <a href="https://simplecss.org">Simple.css</a></small>
</footer>